<app-header />
<main>
  <section class="main-section pad-70">
    <div class="headline">
      <span>Angular 17</span>
      <h1>Venha conhecer as novidades do Angular 17!</h1>
    </div>
    <img ngSrc="./assets/img/angular17.png" width="590" height="330" alt="Angular">
  </section>
  <section class="benefit-section pad-70">
    <div class="benefit-data">
      <h2>
        Quer saber as <br>
        novidades do Angular 17?
      </h2>
    </div>
    <p>Acesse a nova doc do <b>Angular 17!</b> Clique <a href="https://angular.dev/">aqui</a> e conheça a nova versão.</p>
  </section>
  <section class="cta-section" #marcador>
    <app-btn-primary btn-text="Saber mais"  />
  </section>
  <section class="pad-70">
    @defer (on viewport(marcador)) {
      <app-pokemon-list />
    }
  </section>
  <app-newsletter-form />
</main>
